

*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background: linear-gradient(60deg, #0000aa, #aa0000);
}

.navheader{
    min-height: 8vh;
    width: auto;
    background-color: #282828;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links li{
    display: inline-block;
    margin: 10px;
}

.nav-logo img{
    border-style:outset;
    border-color: darkgray;
    height: 6vh;
    margin: 0px 20px;
}

.nav-brandname {
    margin-right: 1300px;
}


.nav-brandname a{
    text-decoration:none;
    color: white;
}
.nav-links a{
    text-decoration: none;
    color: white;
    padding: 5px 15px;
    background: white;
   border-radius: 25px;
   font-size: 13px;
   color: black;
   font-weight: 700;
   cursor: pointer;
   outline: none;
}
 
.nav-links a:hover{
    color: #ff5555; 
    transition: .5s;
}

.imgteszt img{
    -webkit-filter: brightness(100%);
    width: 20vh;
    position: 2px;
    border: 2px;
    border-radius: 2px;
    border-style: ridge;
}


#welcome1{
    font-size: 60px;
    color:white;
    position: absolute;
    left: 675px;
    top: 300px;
    z-index: 2;
}

#welcome2{
    font-size: 40px;
    color:white;
    position: absolute;
    left: 625px;
    top: 370px;
    z-index: 2;
}


h1{
    color: white;
    font-style: italic;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 40px;
}


.phoenix img{
    width: 400px;
    height: 450px;
    margin: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 5px #282828;
    z-index: 1;
}

.phoenix img:hover{
    -webkit-filter: brightness(50%);
    transition: .5s;
}
.jett img{
    width: 400px;
    height: 450px;
    margin: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 5px #282828;
    background-size: cover;
}

.jett img:hover{
    -webkit-filter: brightness(50%);
    transition: .5s;
}

.Reyna img{
    width: 400px;
    height: 450px;
    margin: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 5px #282828;
    background-size: cover;
}

.Reyna img:hover{
    -webkit-filter: brightness(50%);
    transition: .5s;
}

.Raze img{
    width: 400px;
    height: 450px;
    margin: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 5px #282828;
    background-size: cover;
}

.Raze img:hover{
    -webkit-filter: brightness(50%);
    transition: .5s;
}

.Yoru img{
    width: 400px;
    height: 450px;
    margin: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 5px #282828;
    background-size: cover;
}

.Yoru img:hover{
    -webkit-filter: brightness(50%);
    transition: .5s;
}

.Neon img{
    width: 400px;
    height: 450px;
    margin: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 5px #282828;
    background-size: cover;
}

.Neon img:hover{
    -webkit-filter: brightness(50%);
    transition: .5s;
}

.crop1{
    width: 100%;
    overflow: hidden;
    display: block;
    height: 640px;
    }

#crop2{
    position: relative;
    z-index: 1;
    -webkit-filter: brightness(70%);
    margin-top: -200px;
}

h3{
    font-family: 'Aldrich'
}

.tegla1 {
    height: 62px;
    width: 400px;
    background: gray;
    position: absolute;
    z-index: 2;
    left: 12.3%;
    top: 129.2%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.iras1 {
    position: absolute;
    color: black;
   margin-left: 40px;
   margin-top: 10px;
   font-size: 30px;
}

.tegla2 {
    height: 62px;
    width: 400px;
    background: gray;
    position: absolute;
    z-index: 2;
    left: 39.2%;
    top: 129.2%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.iras2 {
    position: absolute;
    color: black;
   margin-left: 40px;
   margin-top: 10px;
   font-size: 30px;
}

.tegla3 {
    height: 62px;
    width: 400px;
    background: gray;
    position: absolute;
    z-index: 2;
    left: 66.15%;
    top: 129.2%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.iras3 {
    position: absolute;
    color: black;
   margin-left: 40px;
   margin-top: 10px;
   font-size: 30px;
}

.tegla4 {
    height: 62px;
    width: 400px;
    background: gray;
    position: absolute;
    z-index: 2;
    left: 12.3%;
    top: 186.3%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.iras4 {
    position: absolute;
    color: black;
   margin-left: 40px;
   margin-top: 10px;
   font-size: 30px;
}

.tegla5 {
    height: 62px;
    width: 400px;
    background: gray;
    position: absolute;
    z-index: 2;
    left: 39.2%;
    top: 186.3%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.iras5 {
    position: absolute;
    color: black;
   margin-left: 40px;
   margin-top: 10px;
   font-size: 30px;
}

.tegla6 {
    height: 62px;
    width: 400px;
    background: gray;
    position: absolute;
    z-index: 2;
    left: 66.15%;
    top: 186.3%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.iras6 {
    position: absolute;
    color: black;
   margin-left: 40px;
   margin-top: 10px;
   font-size: 30px;
}


.astra img{
    width: 400px;
    height: 450px;
    margin: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 5px #282828;
    z-index: 1;
}

.astra img:hover{
    -webkit-filter: brightness(50%);
    transition: .5s;
}

.omen img{
    width: 400px;
    height: 450px;
    margin: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 5px #282828;
    z-index: 1;
}

.omen img:hover{
    -webkit-filter: brightness(50%);
    transition: .5s;
}

.viper img{
    width: 400px;
    height: 450px;
    margin: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 5px #282828;
    z-index: 1;
}

.viper img:hover{
    -webkit-filter: brightness(50%);
    transition: .5s;
}

.harbor img{
    width: 400px;
    height: 450px;
    margin: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 5px #282828;
    z-index: 1;
}

.harbor img:hover{
    -webkit-filter: brightness(50%);
    transition: .5s;
}

.brimstone img{
    width: 400px;
    height: 450px;
    margin: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 5px #282828;
    z-index: 1;
}

.brimstone img:hover{
    -webkit-filter: brightness(50%);
    transition: .5s;
}

.chamber img{
    width: 400px;
    height: 450px;
    margin: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 5px #282828;
    z-index: 1;
}

.chamber img:hover{
    -webkit-filter: brightness(50%);
    transition: .5s;
}

.cypher img{
    width: 400px;
    height: 450px;
    margin: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 5px #282828;
    z-index: 1;
}

.cypher img:hover{
    -webkit-filter: brightness(50%);
    transition: .5s;
}

.killjoy img{
    width: 400px;
    height: 450px;
    margin: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 5px #282828;
    z-index: 1;
}

.killjoy img:hover{
    -webkit-filter: brightness(50%);
    transition: .5s;
}

.sage img{
    width: 400px;
    height: 450px;
    margin: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 5px #282828;
    z-index: 1;
}

.sage img:hover{
    -webkit-filter: brightness(50%);
    transition: .5s;
}

.breach img{
    width: 400px;
    height: 450px;
    margin: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 5px #282828;
    z-index: 1;
}

.breach img:hover{
    -webkit-filter: brightness(50%);
    transition: .5s;
}

.kayo img{
    width: 400px;
    height: 450px;
    margin: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 5px #282828;
    z-index: 1;
}

.kayo img:hover{
    -webkit-filter: brightness(50%);
    transition: .5s;
}

.skye img{
    width: 400px;
    height: 450px;
    margin: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 5px #282828;
    z-index: 1;
}

.skye img:hover{
    -webkit-filter: brightness(50%);
    transition: .5s;
}

.sova img{
    width: 400px;
    height: 450px;
    margin: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 5px #282828;
    z-index: 1;
}

.sova img:hover{
    -webkit-filter: brightness(50%);
    transition: .5s;
}

.fade img{
    width: 400px;
    height: 450px;
    margin: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 5px #282828;
    z-index: 1;
}

.fade img:hover{
    -webkit-filter: brightness(50%);
    transition: .5s;
}



.tegla2_1 {
    height: 62px;
    width: 400px;
    background: gray;
    position: absolute;
    z-index: 2;
    left: 12.3%;
    top: 253.2%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.iras2_1 {
    position: absolute;
    color: black;
   margin-left: 40px;
   margin-top: 10px;
   font-size: 30px;
}

.tegla2_2 {
    height: 62px;
    width: 400px;
    background: gray;
    position: absolute;
    z-index: 2;
    left: 39.2%;
    top: 253.2%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.iras2_2 {
    position: absolute;
    color: black;
   margin-left: 40px;
   margin-top: 10px;
   font-size: 30px;
}

.tegla2_3 {
    height: 62px;
    width: 400px;
    background: gray;
    position: absolute;
    z-index: 2;
    left: 66.15%;
    top: 253.2%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.iras2_3 {
    position: absolute;
    color: black;
   margin-left: 40px;
   margin-top: 10px;
   font-size: 30px;
}

.tegla2_4 {
    height: 62px;
    width: 400px;
    background: gray;
    position: absolute;
    z-index: 2;
    left:25.75%;
    top: 310.3%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.iras2_4 {
    position: absolute;
    color: black;
   margin-left: 40px;
   margin-top: 10px;
   font-size: 30px;
}

.tegla2_5 {
    height: 62px;
    width: 400px;
    background: gray;
    position: absolute;
    z-index: 2;
    left: 52.7%;
    top: 310.3%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.iras2_5 {
    position: absolute;
    color: black;
   margin-left: 40px;
   margin-top: 10px;
   font-size: 30px;
}

.tegla3_1 {
    height: 62px;
    width: 400px;
    background: gray;
    position: absolute;
    z-index: 2;
    left: 12.3%;
    top: 377.3%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.iras3_1 {
    position: absolute;
    color: black;
   margin-left: 40px;
   margin-top: 10px;
   font-size: 30px;
}

.tegla3_2 {
    height: 62px;
    width: 400px;
    background: gray;
    position: absolute;
    z-index: 2;
    left: 39.2%;
    top: 377.3%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.iras3_2 {
    position: absolute;
    color: black;
   margin-left: 40px;
   margin-top: 10px;
   font-size: 30px;
}

.tegla3_3 {
    height: 62px;
    width: 400px;
    background: gray;
    position: absolute;
    z-index: 2;
    left: 66.15%;
    top: 377.3%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.iras3_3 {
    position: absolute;
    color: black;
   margin-left: 40px;
   margin-top: 10px;
   font-size: 30px;
}

.tegla3_4 {
    height: 62px;
    width: 400px;
    background: gray;
    position: absolute;
    z-index: 2;
    left: 39.2%;
    top: 434.35%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.iras3_4 {
    position: absolute;
    color: black;
   margin-left: 40px;
   margin-top: 10px;
   font-size: 30px;
}


.tegla4_1 {
    height: 62px;
    width: 400px;
    background: gray;
    position: absolute;
    z-index: 2;
    left: 12.3%;
    top: 501.3%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.iras4_1 {
    position: absolute;
    color: black;
   margin-left: 40px;
   margin-top: 10px;
   font-size: 30px;
}

.tegla4_2 {
    height: 62px;
    width: 400px;
    background: gray;
    position: absolute;
    z-index: 2;
    left: 39.2%;
    top: 501.3%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.iras4_2 {
    position: absolute;
    color: black;
   margin-left: 40px;
   margin-top: 10px;
   font-size: 30px;
}

.tegla4_3 {
    height: 62px;
    width: 400px;
    background: gray;
    position: absolute;
    z-index: 2;
    left: 66.15%;
    top: 501.3%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.iras4_3 {
    position: absolute;
    color: black;
   margin-left: 40px;
   margin-top: 10px;
   font-size: 30px;
}

.tegla4_4 {
    height: 62px;
    width: 400px;
    background: gray;
    position: absolute;
    z-index: 2;
    left: 25.75%;
    top: 558.4%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.iras4_4 {
    position: absolute;
    color: black;
   margin-left: 40px;
   margin-top: 10px;
   font-size: 30px;
}

.tegla4_5 {
    height: 62px;
    width: 400px;
    background: gray;
    position: absolute;
    z-index: 2;
    left: 52.7%;
    top: 558.4%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.iras4_5 {
    position: absolute;
    color: black;
   margin-left: 40px;
   margin-top: 10px;
   font-size: 30px;
}

.botheader{
    min-height: 8vh;
    width: auto;
    background-color: #282828;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    display: inline-flex;
    margin-left: 5%;
}