

*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background: linear-gradient(60deg, #0000aa, #aa0000);
}

.navheader{
    min-height: 8vh;
    width: auto;
    background-color: #282828;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links li{
    display: inline-block;
    margin: 10px;
}

.nav-logo img{
    border-style:outset;
    border-color: darkgray;
    height: 6vh;
    margin: 0px 20px;
}

.nav-brandname {
    margin-right: 1300px;
}


.nav-brandname a{
    text-decoration:none;
    color: white;
}
.nav-links a{
    text-decoration: none;
    color: white;
    padding: 5px 15px;
    background: white;
   border-radius: 25px;
   font-size: 13px;
   color: black;
   font-weight: 700;
   cursor: pointer;
   outline: none;
}
 
.nav-links a:hover{
    color: #ff5555; 
    transition: .5s;
}

.imgteszt img{
    -webkit-filter: brightness(100%);
    width: 20vh;
    position: 2px;
    border: 2px;
    border-radius: 2px;
    border-style: ridge;
}


#welcome1{
    font-size: 60px;
    color:white;
    position: absolute;
    left: 675px;
    top: 300px;
    z-index: 2;
}

#welcome2{
    font-size: 40px;
    color:white;
    position: absolute;
    left: 625px;
    top: 370px;
    z-index: 2;
}


h1{
    color: white;
    font-style: italic;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 40px;
}


.phoenix img{
    width: 300px;
    height: 300px;
    margin: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 5px #282828;
}

.phoenix img:hover{
    -webkit-filter: brightness(50%);
    transition: .5s;
    transform: scale(110%);
}

.phoenix img:active{
    transform: scale(100%);
}

.jett img{
    width: 300px;
    height: 300px;
    margin: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 5px #282828;
    background-size: cover;
}

.jett img:hover{
    -webkit-filter: brightness(50%);
    transition: .5s;
    transform: scale(110%);
}

.jett img:active{
    transform: scale(100%);
}

.Reyna img{
    width: 300px;
    height: 300px;
    margin: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 5px #282828;
    background-size: cover;
}

.Reyna img:hover{
    -webkit-filter: brightness(50%);
    transition: .5s;
    transform: scale(110%);
}

.Reyna img:active{
    transform: scale(100%);
}

.Raze img{
    width: 300px;
    height: 300px;
    margin: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 5px #282828;
    background-size: cover;
}

.Raze img:hover{
    -webkit-filter: brightness(50%);
    transition: .5s;
    transform: scale(110%);
}

.Raze img:active{
    transform: scale(100%);
}

.Yoru img{
    width: 300px;
    height: 300px;
    margin: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 5px #282828;
    background-size: cover;
}

.Yoru img:hover{
    -webkit-filter: brightness(50%);
    transition: .5s;
    transform: scale(110%);
}

.Yoru img:active{
    transform: scale(100%);
}

.Neon img{
    width: 300px;
    height: 300px;
    margin: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 5px #282828;
    background-size: cover;
}

.Neon img:hover{
    -webkit-filter: brightness(50%);
    transition: .5s;
    transform: scale(110%);
}

.Neon img:active{
    transform: scale(100%);
}

.crop1{
    width: 100%;
    overflow: hidden;
    display: block;
    height: 640px;
    }

#crop2{
    position: relative;
    z-index: 1;
    -webkit-filter: brightness(70%);
    margin-top: -200px;
}

h3{
    font-family: "Aldrich";
    font-size: 25px;
}

.astra img{
    width: 300px;
    height: 300px;
    margin: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 5px #282828;
    z-index: 1;
}

.astra img:hover{
    -webkit-filter: brightness(50%);
    transition: .5s;
    transform: scale(110%);
}

.astra img:active{
    transform: scale(100%);
}

.omen img{
    width: 300px;
    height: 300px;
    margin: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 5px #282828;
    z-index: 1;
}

.omen img:hover{
    -webkit-filter: brightness(50%);
    transition: .5s;
    transform: scale(110%);
}

.omen img:active{
    transform: scale(100%);
}

.viper img{
    width: 300px;
    height: 300px;
    margin: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 5px #282828;
    z-index: 1;
}

.viper img:hover{
    -webkit-filter: brightness(50%);
    transition: .5s;
    transform: scale(110%);
}

.viper img:active{
    transform: scale(100%);
}

.harbor img{
    width: 300px;
    height: 300px;
    margin: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 5px #282828;
    z-index: 1;
}

.harbor img:hover{
    -webkit-filter: brightness(50%);
    transition: .5s;
    transform: scale(110%);
}

.harbor img:active{
    transform: scale(100%);
}

.brimstone img{
    width: 300px;
    height: 300px;
    margin: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 5px #282828;
    z-index: 1;
}

.brimstone img:hover{
    -webkit-filter: brightness(50%);
    transition: .5s;
    transform: scale(110%);
}

.brimstone img:active{
    transform: scale(100%);
}

.chamber img{
    width: 300px;
    height: 300px;
    margin: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 5px #282828;
    z-index: 1;
}

.chamber img:hover{
    -webkit-filter: brightness(50%);
    transition: .5s;
    transform: scale(110%);
}

.chamber img:active{
    transform: scale(100%);
}

.cypher img{
    width: 300px;
    height: 300px;
    margin: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 5px #282828;
    z-index: 1;
}

.cypher img:hover{
    -webkit-filter: brightness(50%);
    transition: .5s;
    transform: scale(110%);
}

.cypher img:active{
    transform: scale(100%);
}

.killjoy img{
    width: 300px;
    height: 300px;
    margin: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 5px #282828;
    z-index: 1;
}

.killjoy img:hover{
    -webkit-filter: brightness(50%);
    transition: .5s;
    transform: scale(110%);
}

.killjoy img:active{
    transform: scale(100%);
}

.sage img{
    width: 300px;
    height: 300px;
    margin: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 5px #282828;
    z-index: 1;
}

.sage img:hover{
    -webkit-filter: brightness(50%);
    transition: .5s;
    transform: scale(110%);
}

.sage img:active{
    transform: scale(100%);
}

.breach img{
    width: 300px;
    height: 300px;
    margin: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 5px #282828;
    z-index: 1;
}

.breach img:hover{
    -webkit-filter: brightness(50%);
    transition: .5s;
    transform: scale(110%);
}

.breach img:active{
    transform: scale(100%);
}

.kayo img{
    width: 300px;
    height: 300px;
    margin: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 5px #282828;
    z-index: 1;
}

.kayo img:hover{
    -webkit-filter: brightness(50%);
    transition: .5s;
    transform: scale(110%);
}

.kayo img:active{
    transform: scale(100%);
}

.skye img{
    width: 300px;
    height: 300px;
    margin: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 5px #282828;
    z-index: 1;
}

.skye img:hover{
    -webkit-filter: brightness(50%);
    transition: .5s;
    transform: scale(110%);
}
.skye img:active{
    transform: scale(100%);
}

.sova img{
    width: 300px;
    height: 300px;
    margin: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 5px #282828;
    z-index: 1;
}

.sova img:hover{
    -webkit-filter: brightness(50%);
    transition: .5s;
    transform: scale(110%);
}

.sova img:active{
    transform: scale(100%);
}


.fade img{
    width: 300px;
    height: 300px;
    margin: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 5px #282828;
}

.fade img:hover{
    -webkit-filter: brightness(50%);
    transition: .5s;
    transform: scale(110%);
}

.fade img:active{
    transform: scale(100%);
}

.botheader{
    min-height: 8vh;
    width: auto;
    background-color: #282828;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    display: inline-flex;
    margin-left: 3%;
}

tr, td{
    border: 1px solid white;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

table{
    border-collapse: collapse;
    text-align: center;
}